h1 {
  padding-top: 10px;
  font-size: 2rem;
}
#title {
  background-color: #F1D3B3;
  text-align: center;
  height: 750px;
  padding-top: 200px;
}
#projects {
  background-color: #F1D3B3;
  text-align: center;
  height: 750px;
}
#app {
  margin: 15px;
  font-weight: 250;
  font-size: 1.5rem;
}
#footer {
  background-color: #222222;
  color: white;
  height: 150px;
  text-align: center;
  padding: 50px;
}

.heading-title {
  text-align: center;
  padding-top: 75px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 350;
}
.profilePic {
  width: 230px;
  height: 300px;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.about-card {
  margin-top: 15%;
  margin-left: 15%;
}
.card-heading {
  padding: 0;
}
.card-title
{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-link {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 12px;
}
.feature-box {
  background-color: #fff;
  padding: 15px;
}
.footer-text {
  margin-top: 30px;
  font-size: 12px;
}
